footer {
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;
  flex-shrink: 0;
  transition: all 0.3s;
  
}

footer button {
  padding: 15px 50px;
  border: none;
  border-radius: 15px;
  transition: all 0.3s;
  outline: none;
}


.dia footer {
  background: #fff;
  color: #000;
  border: 3px solid #000
}

.dia footer button {
  background: #fff;
  color: #000;
  border: 2px solid #000
}

.noche footer {
  background: #000;
  color: #fff;
  border: 3px solid #fff
}

.noche footer button {
  background: #000;
  color: #fff;
  border: 2px solid #fff
}